/.bundle/
/.yardoc
/_yardoc/
/coverage/
/pkg/
/spec/reports/
/tmp/
/log/

.rspec_status

.DS_Store
.DS_Store?

.env
.ruby-gemset
.ruby-version
Gemfile.lock

/spec/
.rubocop.yml
.rubocop_todo.yml
.solargraph.yml

Gemfile.lock

/.venv/
/vendor/
/examples/
/docs/
**/uploads/***
**/test/***
